{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <em>Douyin Keywords Configuration</em> <em>
                    <small>Add your own keywords</small>
                </em>
                </h1>
            </div>
            <div>
                <h3>WARNING</h3>
                <p>
                    Please fill in correct CHALLENGE IDs.
                    You can share douyin challenge page to your friends and get the link, click the link and the CHALLENGE ID will be right in the receive url.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-inline" method="POST" action="{{url_for('douyin_conf')}}">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="original" class="form-label">
                        <h3>
                            <em>The keywords in file:</em>
                        </h3>
                    </label><br>
                    <textarea id="original" rows="20" cols="40" disabled>{% for o in original %}{{ o }}{% endfor %}</textarea><br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="content" class="form-label">
                        <h3>
                            <em>Update keywords:</em>
                        </h3>
                    </label><br>
                    <textarea id="content" name="content" rows="20" cols="40">{% for o in original %}{{ o }}{% endfor %}</textarea><br>
                    <input type="submit" class="btn btn-default" id="btn_data" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}