{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    <em>Weibo Keywords Configuration</em> <em>
                    <small>Add your own keywords</small>
                </em>
                </h1>
            </div>
            <h3>
                <em>Select Spider:</em>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2  top-buffer">
            <a href="{{url_for('weibo_conf')}}">
                <button class="btn btn-default">Weibo</button>
            </a>
        </div>
        <div class="col-sm-2  top-buffer">
            <a href="{{url_for('amuse_conf')}}">
                <button class="btn btn-default">Amuse</button>
            </a>
        </div>
        <div class="col-sm-2  top-buffer">
            <a href="{{url_for('makeup_conf')}}">
                <button class="btn btn-default">Makeup</button>
            </a>
        </div>
    </div>
    <div class="row">
        <form class="form-inline" method="POST" action="{{url_for(type)}}">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="original" class="form-label">
                        <h3>
                            <em>The keywords in file:</em>
                        </h3>
                    </label><br>
                    <textarea id="original" rows="20" cols="40" disabled>{% for o in original %}{{ o }}{% endfor %}</textarea><br>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="content" class="form-label">
                        <h3>
                            <em>Update keywords:</em>
                        </h3>
                    </label><br>
                    <textarea id="content" name="content" rows="20" cols="40">{% for o in original %}{{ o }}{% endfor %}</textarea><br>
                    <input type="submit" class="btn btn-default" id="btn_data" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}