{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% import "bootstrap/wtf.html" as wtf%}
{% block content %}
    <form class="form-inline" method="POST" action = "{{url_for('all',number = number, keywords = keywords, tags = tags)}}">
        {{ wtf.form_field(form.number, value = number ) }}
        {{ wtf.form_field(form.keywords, value = keywords ) }}
        {{ wtf.form_field(form.tags, value = tags) }}
        {{ wtf.form_field(form.submit) }}
    </form>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-striped table-hover">
                <tr>
                    <th class="text-center">歌单id</th>
                    <th class="text-center">歌单名称</th>
                    <th class="text-center">歌单类别</th>
                    <th class="text-center">歌单标签</th>
                    <th class="text-center">歌单作者</th>
                    <th class="text-center">发布时间</th>
                    <th class="text-center">歌曲数</th>
                    <th class="text-center">歌单音乐</th>
                    <!--
                    <th>playlist_desc</th>
                    <th>playlist_fav_count</th>
                    <th>playlist_share_count</th>
                    <th>playlist_comment_count</th>
                    -->
                </tr>
                <tbody>
                {% for playlist in playlists %}
                <tr>
                    <td class="text-center">{{ playlist.playlist_id }}</td>
                    <td class="text-center">
                        <!--<a href="{{ playlist.playlist_url }}">-->
                            {{ playlist.playlist_name }}
                        <!--</a>-->
                    </td>
                    <td class="text-center">{{ playlist.playlist_cat }}</td>
                    <td class="text-center">{{ playlist.playlist_tag }}</td>
                    <td class="text-center">
                        <!--<a href="{{ playlist.playlist_author_url }}">-->
                        {{ playlist.playlist_author }}
                        <!--</a>-->
                    </td>
                    <td class="text-center">{{ playlist.playlist_pubtime }}</td>
                    <td class="text-center">{{ playlist.playlist_songnum }}</td>
                    <td class="text-center"><a href="{{url_for('music',playlist_id= playlist.playlist_id)}}">获取音乐</a></td>
                    <!--
                    <td>{{ playlist.playlist_desc }}</td>
                    <td>{{ playlist.playlist_fav_count}}</td>
                    <td>{{ playlist.playlist_share_count }}</td>
                    <td>{{ playlist.playlist_comment_count }}</td>
                    -->
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav style="text-align:center" >
            <div class="page-footer">{{ render_pagination(pagination_original) }}</div>
            </nav>
            <h2>
                相关搜索
            </h2>
            <table class="table table-striped table-hover">
                <tr>
                    <th class="text-center">歌单id</th>
                    <th class="text-center">歌单名称</th>
                    <th class="text-center">歌单类别</th>
                    <th class="text-center">歌单标签</th>
                    <th class="text-center">歌单作者</th>
                    <th class="text-center">发布时间</th>
                    <th class="text-center">歌曲数</th>
                    <!--<th class="text-center">歌曲数量</th>-->
                    <th class="text-center">歌单音乐</th>
                    <!--
                    <th>playlist_desc</th>
                    <th>playlist_share_count</th>
                    <th>playlist_comment_count</th>
                    -->
                </tr>
                <tbody>
                {% for prediction in predictions %}
                <tr>
                    <td class="text-center">{{ prediction.playlist_id }}</td>
                    <td class="text-center">
                        <!--<a href="{{ prediction.playlist_url }}">-->
                            {{ prediction.playlist_name }}
                        <!--</a>-->
                    </td>
                    <td class="text-center">{{ prediction.playlist_cat }}</td>
                    <td class="text-center">{{ prediction.playlist_tag }}</td>
                    <td class="text-center">
                        <!--<a href="{{ prediction.playlist_author_url }}">-->
                        {{ prediction.playlist_author }}
                        <!--</a>-->
                    </td>
                    <td class="text-center">{{ prediction.playlist_pubtime }}</td>
                    <td class="text-center">{{ prediction.playlist_songnum }}</td>
                    <td class="text-center"><a href="{{url_for('music',playlist_id= prediction.playlist_id)}}">获取音乐</a></td>
                    <!--
                    <td>{{ prediction.playlist_desc }}</td>
                    <td>{{ prediction.playlist_share_count }}</td>
                    <td>{{ prediction.playlist_comment_count }}</td>
                    -->
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav style="text-align:center" >
            <div class="page1-footer">{{ render_pagination(pagination_prediction) }}</div>
            </nav>
        </div>
        <div class="col-sm-4">
            <h3>歌单词云图</h3>
            <img class='center-block' src="data:;base64,{{ img_stream }}" width="90%" height="90%" />
            <br>
            <h3>歌单直方图统计</h3>
            <div id="cat" style="width: 600px;height:300px;margin: 0 auto;"></div>
            <script type="text/javascript">
                var catContainer = document.getElementById("cat");
                var resizeCatContainer = function () {
                    catContainer.style.width = window.innerWidth/3+"px";
                    catContainer.style.height = window.innerHeight/3+"px";
                };
                resizeCatContainer();
                var catChart = echarts.init(catContainer);
                var data1 = [{% for cat in cat_sorted %}'{{"".join(cat[0])}}',{% endfor %}];
                var data2 = [{% for cat in cat_sorted %}'{{cat[1]}}',{% endfor %}];
                    var option = {
                        title: {
                            text: '歌单分类'
                        },
                        tooltip: {},
                        xAxis: {
                            data: data1
                        },
                        yAxis: {},
                        series: [{
                            name: '数量',
                            type: 'bar',
                            data: data2
                        }]
                    };
                catChart.setOption(option);
            </script>
            <div id="tag" style="width: 600px;height:300px;margin: 0 auto;"></div>
            <script type="text/javascript">
             var tagContainer = document.getElementById("tag");
                var resizeTagContainer = function () {
                    tagContainer.style.width = window.innerWidth/3+"px";
                    tagContainer.style.height = window.innerHeight/3+"px";
                };
                resizeTagContainer();
                var tagChart = echarts.init(tagContainer);
                var data1 = [{% for tag in tag_sorted %}'{{"".join(tag[0])}}',{% endfor %}];
                var data2 = [{% for tag in tag_sorted %}'{{tag[1]}}',{% endfor %}];
                    var option = {
                        title: {
                            text: '歌单标签'
                        },
                        tooltip: {},
                        xAxis: {
                            data: data1
                        },
                        yAxis: {},
                        series: [{
                            name: '数量',
                            type: 'bar',
                            data: data2
                        }]
                    };
                tagChart.setOption(option);
                window.onresize = function () {
                    resizeCatContainer();
                    catChart.resize();
                    resizeTagContainer();
                    tagChart.resize();
                };
            </script>
        </div>
    </div>
{% endblock %}